{% extends 'users/base.html' %}
{% block content %}

    <div class="hungerSpot-container">
        <div class="hungerSpot">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="upload">
                <input type="submit" value="Upload Pic" name="submit">
            </form>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}