{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Redistribution</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav-logo class="logo">
            Food Redistribution
        </nav-logo>
        <nav class="navbar">
            <ul>
                <li><a class="links" href="{% url 'home' %}">Home</a></li>
                <li><a class="links" href="{% url 'addHungerSpot' %}">Hunger Spots</a></li>
                <li><a class="links" href="#">Services</a></li>
                <li><a class="links" href="#">Services</a></li>
                <li><a class="links" href="#">Services</a></li>
                <li><a class="login">Login</a></li>
                <li><a class="signup button" href="base.html">Signup</a></li>
            </ul>
        </nav>
    </header>

{% block content %}
{% endblock %}
</body>
</html>
